/* styles.css */
.image-container img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.header-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.masthead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.night-mode label {
    cursor: pointer;
}
